{% extends "account/base.html" %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% translate "Sign In" %} / {% translate "Sign up" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <div class="socialaccount_ballot">
  {% for provider in socialaccount_providers %}
    <a class="btn btn-outline-primary" href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}">
      <span class="fa-brands fa-github"></span> {% translate "Sign in / Sign up with GitHub" %}
    </a>
  {% endfor %}

{#    <ul class="socialaccount_providers">#}
{#      {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#    </ul>#}

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p>
      {% blocktranslate trimmed %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endif %}

{% endblock %}
